#items, h1, h2   {
    text-align:center;
}
hr  {
    border-top: 2px dotted #000000;
}
.my-receipt {
    width: 300px;
    margin-left: 40%;
}
#addressShop, #shipping, #description, #total    {
    display:flex;
}
#my-receipt {
    display: none;
}